@{
    ViewBag.Title = "Dashboard";
}

<style>
    .wrap {
        font-family: 'Lucida Sans';
        text-align: center;
    }

    .tank {
        margin: 0 50px;
        display: inline-block;
    }

    body {
        /*background: #eee;*/
        margin: 0;
    }
</style>
<div class="wrap row">
    <input type="hidden" id="hdnLevels" value="@ViewBag.TankLevels" />
    @for (int i = 0; i < ViewBag.TankCount; i++)
    {
        <div class="col-lg-3">
            <div class="tank fuel-tank-@i"></div>
            <div class="tank-name-@i"></div>
            <div class="tank-location-@i"></div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {

        var levels = JSON.parse($('#hdnLevels').val());

        console.log(levels);

        for (var i = 0; i < levels.length; i++) {
            var levelObj = levels[i];
            var levelValue = levelObj.level;
            var levelColor = setFuelColor(levelValue);
            console.log(levelObj.tankid);
            $('.tank-name-' + i).html("Tank : " + levelObj.tankid);
            $('.tank-location-' + i).html("Location : " + levelObj.location);
            $('.fuel-tank-' + i).waterTank({
                width: 210,
                height: 180,
                color: levelColor,
                level: levelValue
            }).on('click', function (event) {
                //$(this).waterTank(Math.floor(Math.random() * 100) + 0 );
            });
        }


    });

    function setFuelColor(levelValue) {
        if (levelValue < 25) {
            levelColor = 'red';
        }
        else if (levelValue > 25 && levelValue < 50) {
            levelColor = 'orange';
        }
        else if (levelValue > 50 && levelValue < 75) {
            levelColor = 'lightblue';
        }
        else if (levelValue > 75) {
            levelColor = 'lightgreen';
        }

        return levelColor;
    }


</script>